
body {
	SCROLLBAR-FACE-COLOR: #f0f0f0; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #7d7d7d; SCROLLBAR-3DLIGHT-COLOR: #a0a0a0; SCROLLBAR-ARROW-COLOR: #ff6600; SCROLLBAR-TRACK-COLOR: #fafafa; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}

A:link {
	COLOR: #330; TEXT-DECORATION: none
}
A:visited {
	COLOR: #330; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.ln:link {
	 FONT:  11px verdana, arial, helvetica;COLOR: #f60; TEXT-DECORATION: none
}
A.ln:visited {
	 FONT: 11px verdana, arial, helvetica; COLOR: #f60; TEXT-DECORATION: none
}
A.ln:hover {
	 FONT:  11px verdana, arial, helvetica;COLOR: #f60; TEXT-DECORATION: underline
}
A.ln:active {
	FONT:  11px verdana, arial, helvetica; COLOR: #f60; TEXT-DECORATION: none
}


A.lnh:link {
	 FONT:  11px verdana, arial, helvetica;COLOR: #006; TEXT-DECORATION: none
}
A.lnh:visited {
	 FONT: 11px verdana, arial, helvetica; COLOR: #006; TEXT-DECORATION: none
}
A.lnh:hover {
	 FONT:  11px verdana, arial, helvetica;COLOR: #f60; TEXT-DECORATION: underline
}
A.lnh:active {
	FONT:  11px verdana, arial, helvetica; COLOR: #006; TEXT-DECORATION: none
}


A.lnin:link {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #f60; TEXT-DECORATION: none
}
A.lnin:visited {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #f60; TEXT-DECORATION: none
}
A.lnin:hover {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #f60; TEXT-DECORATION: none
}
A.lnin:active {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #f60; TEXT-DECORATION: none
}
A.lnon:link {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #369; TEXT-DECORATION: none
}
A.lnon:visited {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #369; TEXT-DECORATION: none
}
A.lnon:hover {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #369; TEXT-DECORATION: none
}
A.lnon:active {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #369; TEXT-DECORATION: none
}
A.lnru:link {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.lnru:visited {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.lnru:hover {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.lnru:active {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.editlink:link {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.editlink:visited {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.editlink:hover {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: underline
}
A.editlink:active {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: underline
}
A.editnav:link {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.editnav:visited {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.editnav:hover {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: underline
}
A.editnav:active {
	FONT: 9px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: underline
}
A.edtlink:link {
        FONT: 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.edtlink:visited {
        FONT: 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: none
}
A.edtlink:hover {
        FONT: 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: underline
}
A.edtlink:active {
        FONT: 10px verdana, arial, helvetica; COLOR: #fff; TEXT-DECORATION: underline
}
UL {
	MARGIN-TOP: 0px;MARGIN-LEFT: 18px
}
OL {
	MARGIN-TOP: 0px; MARGIN-LEFT: 23px
}
.text {
	FONT: 11px/16px verdana, arial, helvetica; COLOR: #000000; TEXT-DECORATION: none
}

.date {
	FONT: 11px/16px verdana, arial, helvetica; COLOR: #336633;  TEXT-DECORATION: none
}

.glosshead {
	FONT: bold 11px verdana, arial, helvetica; COLOR: #666666; TEXT-DECORATION: none
}
.blacktext {
	FONT: 11px verdana, arial, helvetica; COLOR: #000
}
.phead {
	FONT: 19px/13px verdana, arial, helvetica; COLOR: #369; LETTER-SPACING: 3px
}
.phead2 {
	FONT: 19px/19px verdana, arial, helvetica; COLOR: #369; LETTER-SPACING: 3px
}
.q {
	MARGIN-BOTTOM: 5px; FONT: 16px/13px verdana, arial, helvetica; COLOR: #369; LETTER-SPACING: 3px
}
.intro {
	FONT-SIZE: 13px; COLOR: #369; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, helvetica; LETTER-SPACING: 1px; FONT-VARIANT: normal
}
.head {
	FONT: bold 13px verdana, arial, helvetica; COLOR: #369; LETTER-SPACING: 1px
}
.head2 {
	FONT: bold 12px verdana, arial, helvetica; COLOR: #999
}
.subhead {
	FONT: bold 12px/13px verdana, arial, helvetica; COLOR: #369
}
.bold {
	FONT: bold 11px verdana, arial, helvetica; COLOR: #666
}
.boldsm {
	FONT: bold 9px verdana, arial, helvetica; COLOR: #666
}
.boldgray {
	FONT: bold 11px verdana, arial, helvetica; COLOR: #999
}
.boldgray2 {
	FONT: bold 11px verdana, arial, helvetica; COLOR: #666
}
.boldblue {
	FONT: bold 9px verdana, arial, helvetica; COLOR: #369
}
.captionsm {
	FONT: 9px verdana, arial, helvetica; COLOR: #369
}
.caption {
	FONT: 11px verdana, arial, helvetica; COLOR: #ff6600
}
.edithead {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #333
}
.editsub {
	FONT: 10px verdana, arial, helvetica; COLOR: #fff
}
.editsubtest {
        FONT: 10px verdana, arial, helvetica; COLOR: #fff
}


.edittext {
	FONT: 9px verdana, arial, helvetica; COLOR: #333
}
.editbold {
	FONT: bold 9px verdana, arial, helvetica; COLOR: #333
}
.editnavhead {
	FONT: bold 10px verdana, arial, helvetica; COLOR: #333
}
.lnon {
	FONT: bold 9px verdana, arial, helvetica; COLOR: #369; TEXT-DECORATION: none
}
TT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.textsm {
	FONT: 9px verdana, arial, helvetica; COLOR: #666666; TEXT-DECORATION: none
}
.blacktextsm {
	FONT: 9px verdana, arial, helvetica; COLOR: #000
}
.textbg {
	FONT: 15px verdana, arial, helvetica; COLOR: #666666; TEXT-DECORATION: none
}
.boldbg {
	FONT: bold 15px verdana, arial, helvetica; COLOR: #666
}
.captionbg {
	FONT: 15px verdana, arial, helvetica; COLOR: #369
}
.headbg {
	FONT: bold 17px verdana, arial, helvetica; COLOR: #369; LETTER-SPACING: 1px
}
.subheadbg {
	FONT: bold 16px/17px verdana, arial, helvetica; COLOR: #369
}
.qbullet {
	FONT: 11px verdana, arial, helvetica; COLOR: #369
}
.abullet {
	FONT: 11px/16px verdana, arial, helvetica; COLOR: #ffffff
}


.searchbox {
	BACKGROUND: #cccccc; COLOR: #000000; FONT-WEIGHT: normal;FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: xx-small
}

.select {
	BACKGROUND: #669999; COLOR: #000000; FONT-WEIGHT: normal;FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: xx-small
}



.searchbutton {
	BACKGROUND: #660000; COLOR: white; CURSOR: hand; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: xx-small; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.textAr {
        FONT: 13px verdana, arial, helvetica;; COLOR: #000000; TEXT-DECORATION: none
}
